* {
  box-sizing: border-box;
  
}

body {
  background-image: url(./Images/vecteezy_galaxy-background-with-falling-star-vector-space-galaxy_7120314.jpg);
  background-repeat: 1;
  height: 98vh;
  display: flex;
  justify-content: center;
}

/* Title */


.input {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    color: bl;
}

input {
  width: 300px;
  padding: 5px 15px;
}

/* Planet Card */
.planet-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  margin-top: 60px;
  padding: 0 20px;
  color: #F5F2D0;
}


.top {
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}

.name {
  font-size: 4rem;
  text-align: center;
}

.mass {
  margin-top: 15px;
}

.info {
  padding-left: 100px;
}









